<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>List courses</title>
		
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body style="background-color: lightblue">
		
		<div class="container">
		
			<h3>List Of Students</h3>
			
			<hr/>
			<a th:href="@{/listGrades(courseId=${courseId})}" class="btn btn-primary">Show Grades</a>
			<table class="table table-bordered table-striped" id="registrationTable">
			
				<thead class="thead-dark">
					<tr>
						<th>Course Id</th>
						<th>Student Id</th>
						<th>Student Name</th>
						<th>Year of Registration</th>
						<th>Current Semester</th>
						<th>Action</th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="registration: ${registrations}">
						<td th:text="${registration.RegId.courseId}" />
						<td th:text="${registration.RegId.studentId}" />
						<td th:text="${registration.studentName}" />
						<td th:text="${registration.year_of_reg}" />
						<td th:text="${registration.cur_semester}" />
						<td>
							<a th:href="@{/showUpdateFormForReg(studentId=${registration.RegId.studentId},courseId=${registration.RegId.courseId})}" class="btn btn-info">Update info</a>
							
							<a th:href="@{/gradeStudent(studentId=${registration.RegId.studentId},courseId=${registration.RegId.courseId})}" class="btn btn-success">Grade student</a>
							
							<a th:href="@{/deleteRegistration(studentId=${registration.RegId.studentId},courseId=${registration.RegId.courseId})}"
								class="btn btn-danger"
								onclick="if (!(confirm('Are you sure you want to delete this student?'))) return false">
									Delete student
							</a>
			
						</td>
					</tr>
				</tbody>
				
			</table>
			
			<a th:href="@{/list}">Back to course list</a>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
		<script>
			$(document).ready(function() {
				$("#courseTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})
		</script>
	</body>
	
</html>